*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    overflow-x: hidden;
    background: #E0FFF9;
}
#header{
    position: sticky;
    height: 10vh;
    width: 100%;
    top: 0;
    z-index: 10;
    background-image: linear-gradient(to right, #E0FFF9, #EBFFFB);
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
}
.nav-bar{
    display: flex;
    padding: 20px 40px;
}
.nav-logo img{
    width: 50px;
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    float: right;
    margin-top: -8px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px 0 20px;
}
.nav-links ul a{
    color: #03A595;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.nav-links ul li i{
    color: #03A595;
    text-decoration: none;
    font-size: 20px !important;
    font-weight: bold;
}
#photo-profile-header{
    width: 6vh;
    height: 6vh;
    cursor: pointer;
    margin-left: 20px;
    margin-top: -7px;
    border-radius: 50%;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #03A595;
    display: block;
    margin: 21px auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/*---------------------------------- Content -----------------------------------*/
.container-popup-login {
    position: relative;
    background-image: linear-gradient(to right, #83E2CF, #E0FFF9);
    margin: 11.5vh auto;
    padding: 5vh;
    max-width: 60%;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
}
.left-col-login{
    flex-basis: 50%;
}
.left-col-login img{
    width: 95%;
    margin: 4vh 0 4vh 0;
}
.right-col-login{
    flex-basis: 50%;
    padding: 0 3% 0 2%;
}
.title-login{
    color: #076658;
    font-size: 30px;
    font-weight: bold;
    margin: 5% 0 10% 0;
    text-shadow: 3px 2px rgba(146, 223, 214, 0.9);
    text-align: left;
    letter-spacing: 2px;
}
.form-box input{
    width: 100%;
    margin-bottom: 6%;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 2% 1%;
    background: transparent;
    border-bottom: 1px solid #03A595;
}

.hubungi-kami{
    color: #21796C;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    float: right;
}
.btn-batalkan-login{
    float: left;
    width: 45%;
    color: #03A595;
    padding: 8px 30px;
    margin: 5% 0 5% 0;
    font-weight: bold;
    border: 0;
    background: transparent;
    border: 2px solid #03A595;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
    transition: .5s;
}
.btn-batalkan-login:hover{
    color: #04D6C1;
    border: 2px solid #04D6C1;
}
.btn-simpan-login{
    float: right;
    width: 45%;
    color: #fff;
    padding: 8px 30px;
    margin: 5% 0 5% 0;
    font-weight: bold;
    border: 0;
    background: #03A595;
    border: 2px solid #03A595;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
    transition: .5s;
}
.btn-simpan-login:hover{
    background: #04D6C1;
    color: #fff;
    border: 2px solid #04D6C1;
}

/*---------------------------- Footer ---------------------*/
#footer{
    height: 30vh;
    background: #03A595;
}
.col-footer{
    display: flex;
    height: 23vh;
}
.left-col-footer{
    margin: 3vh 25vh;
    flex-basis: 40%;
    border-right: 1.5px solid #fff;
}
.left-col-footer img{
    width:40%;
    margin: 5vh;
}
.right-col-footer{
    flex-basis: 60%;
    padding: 1.3vh;
}
.follow{
    font-size: 15px;
    font-weight: bold;
    margin: .5vh;
    color: #fff;
    letter-spacing: 1px;
}
.right-col-footer .fa{
    margin: 2vh;
    font-size: 15px !important;
    color: #fff !important;
    font-weight: bold;
    padding-right: 2vh;
}
.copyright{
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin: 2.2vh 0 .3vh 0;
    letter-spacing: .7px;
}
.fa-copyright{
    font-size: 13px;
    color: #fff;
}



  
