*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    overflow-x: hidden;
    background: #E0FFF9;
}
#header{
    position: sticky;
    height: 10vh;
    width: 100%;
    top: 0;
    z-index: 10;
    background-image: linear-gradient(to right, #E0FFF9, #EBFFFB);
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
}
.nav-bar{
    display: flex;
    padding: 20px 40px;
}
.nav-logo img{
    width: 50px;
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    float: right;
    margin-top: -8px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px 0 20px;
}
.nav-links ul a{
    color: #03A595;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.nav-links ul li i{
    color: #03A595;
    text-decoration: none;
    font-size: 20px !important;
    font-weight: bold;
}
#photo-profile-header{
    width: 6vh;
    height: 6vh;
    cursor: pointer;
    margin-left: 20px;
    margin-top: -7px;
    border-radius: 50%;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #03A595;
    display: block;
    margin: 21px auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/*------------------ Container Timeline --------------------*/
#container-timeline{
    display: flex;
}
.left-col-timeline{
    flex-basis: 20%;
    background: #fff;
    border-radius: 10px;
    margin: 20px 30px 0 30px;
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
    overflow: hidden;
    height: 85vh;
}
.menghilangkan-scroll{
    overflow: auto;
    margin:0 -90px 0 0;
    padding-right:70px;
    height: 85vh;
}
#tanpa-scroll{
    overflow: hidden;
}
.left-col-timeline h1{
    padding: 4vh 3vh;
    color: #03A595;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: .5px;
    border-bottom: 1px solid #90DBD4;
}
.left-col-timeline h1 i{
    float: right;
    font-size: 22px !important;
    cursor: pointer;
    transition: .5s;
}
.left-col-timeline h1 i:hover{
    color: #04D6C1;
}
.left-col-timeline p{
    padding: 2.5vh 3vh;
    background: #F6FEFC;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .5px;
    border-bottom: 1px solid #90DBD4;
}
.middle-col-timeline{
    flex-basis: 60%;
    margin-bottom: 2vh;
}
.buat-status{
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
    display: flex;
}
.img-profile-buat-status{
    flex-basis: 10%;
    padding: 3vh;
}
.img-profile-buat-status img{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}
.tulis-status{
    flex-basis: 90%;
    padding: 3vh;
}
.tulis-status h1{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
    color: #076658;
}
.form-control{
    padding: 2vh;
    margin: 2.5vh 0;
    border-radius: 10px;
    border: none;
    box-shadow: none ;
    background: #F6FEFC;
    border-top: 2px solid #D4DBD9;
    border-left: 2px solid #D4DBD9;
    font-size: 16px;
    font-weight: bold;
}
.form-control::placeholder{
    font-size: 16px;
    font-weight: bold;
}
.sematkan-kirimkan{
    float: right;
}
.btn-kirim-status{
    color: #fff;
    padding: 6px 30px;
    font-weight: bold;
    border: 0;
    background: #03A595;
    cursor: pointer;
    margin: 2vh 3vh;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
    transition: .5s;
}
.btn-kirim-status:hover{
    background: #04D6C1;
    color: #fff;
}
.sematkan-kirimkan a{
    cursor: pointer;
    font-weight: bold;
    color: #03A595;
    font-size: 15px;
    transition: .5s;
}
.sematkan-kirimkan a i{
    font-size: 18px !important;
}
.sematkan-kirimkan a:hover{
    color: #04D6C1;
}
.sematkan-kirimkan .fa{
    margin-right: 1.5vh;
    font-size: 14px;
}
.pembaharuan-terbaru{
    margin-top: 5vh;
    vertical-align: center;
}
.pembaharuan-terbaru p{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #03A595;
    letter-spacing: .5px;
    position: relative;
}
.pembaharuan-terbaru span{
    height: 2px;
    width: 20%;
    background: #03A595;
    position: absolute;
    margin-top: 1.3vh;
}
.pembaharuan-terbaru .right-line{
    height: 2px;
    width: 20%;
    background: #03A595;
    position: absolute;
    margin-top: 1.3vh;
    right: 48vh;
}
.status-orang{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
    margin-top: 5vh;
    overflow: hidden;
}
.container-status{
    display: flex;
}
.img-profile-status-orang{
    flex-basis: 10%;
    padding: 3vh;
}
.img-profile-status-orang img{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}
.isi-status{
    flex-basis: 90%;
    padding: 3vh;
}
.isi-status h1{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
    color: #076658;
    margin: 1vh 0;
}
.isi-status h4{
    font-size: 12px;
    font-weight: bold;
    color: #A7A7A7;
}
.isi-status img{
    margin: 5vh 3vh 0 0;
    width: 88vh;
    height: 48vh;
    border-radius: 10px;
}
.isi-status p{
    margin: 5vh 3vh 7vh 0;
    text-align: justify;
    font-size: 16px;
    font-weight: bold;
    color: #484848;
}
.like-comment-share{
    margin: 0 0 3vh 0;
}
.like-comment-share a{
    text-decoration: none;
    margin-right: 3vh;
    font-size: 16px;
    font-weight: bold;
}
.like-comment-share a i{
    margin-right: .8vh;
    font-size: 18px;
    font-weight: bold;
}

.comment-orang{
    background: #F6FEFC;
    display: flex;
    border-top: 1px solid #03A595;
}
.img-profile-orang{
    flex-basis: 20%;
    text-align: center;
    align-self: center;
}
.img-profile-orang img{
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    margin-right: 1.5vh;
}
.content-comment-orang{
    flex-basis: 80%;
    margin: 3vh 5vh 2vh -4vh;
}
.content-comment-orang h1{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
    color: #076658;
    margin-bottom: 1vh;
}
.content-comment-orang p{
    text-align: justify;
    font-size: 14px;
    font-weight: bold;
    color: #484848;
}
.content-comment-orang h4{
    font-size: 12px;
    font-weight: bold;
    color: #A8ADAB;
    margin: 2vh 0;
}


.comment{
    background: #F6FEFC;
    display: flex;
    border-top: 1px solid #03A595;
}
.img-profile-comment{
    flex-basis: 10%;
    padding: 3vh 5vh;
}
.img-profile-comment img{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
}
.form-control-comment{
    flex-basis: 70%;
    background: none;
    font-size: 16px;
    font-weight: bold;
    padding: 2vh 2vh 2vh 0;
    margin: 2vh 0 2vh -1vh;
    border: none;
}
.form-control-comment::placeholder{
    color: #03A595;
    font-size: 16px;
    font-weight: bold;
}
.icon-comment{
    flex-basis: 20%;
    text-align: right;
    padding: 4vh 5vh 4vh 0;
}
.icon-comment a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #03A595;
}
.icon-comment a i{
    margin: auto 1.5vh;
}



.right-col-timeline{
    flex-basis: 20%;
    background: #fff;
    border-radius: 10px;
    margin: 20px 30px 0 30px;
    height: 85vh;
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
    overflow: hidden;
}
.right-col-timeline img{
    height: 22vh;
    width: 22vh;
    border-radius: 50%;
    margin: 4vh 9vh;
}
.details-profile{
    text-align: center;
}
.details-profile h1{
    color: #076658;
    font-weight: bold;
    font-size: 25px;
}
.details-profile h2{
    color: #484848;
    font-weight: bold;
    font-size: 15px;
    margin: 1vh;
}
.details-profile p{
    color: #484848;
    font-weight: bold;
    font-size: 15px;
}
.bottom-pengaturan{
    text-align: center;
    margin-top: 26vh;
}
.bottom-pengaturan p{
    border-top: 1px solid #90DBD4;
    padding: 2.5vh 3vh;
    background: #F6FEFC;
    color: #076658;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .5px;
    cursor: pointer;
    transition: .5s;
}
.bottom-pengaturan p i{
    margin-right: 2vh;
    font-size: 16px !important;
}
.bottom-pengaturan p:hover{
    color: rgba(4, 214, 193, 0.89);
}

/*---------------------------- Footer ---------------------*/
#footer{
    height: 30vh;
    background: #03A595;
}
.col-footer{
    display: flex;
    height: 23vh;
}
.left-col-footer{
    margin: 3vh 25vh;
    flex-basis: 40%;
    border-right: 1.5px solid #fff;
}
.left-col-footer img{
    width:40%;
    margin: 5vh;
}
.right-col-footer{
    flex-basis: 60%;
    padding: 1.3vh;
}
.follow{
    font-size: 15px;
    font-weight: bold;
    margin: .5vh;
    color: #fff;
    letter-spacing: 1px;
}
.right-col-footer .fa{
    margin: 2vh;
    font-size: 15px !important;
    color: #fff !important;
    font-weight: bold;
    padding-right: 2vh;
}
.copyright{
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin: 2.2vh 0 .3vh 0;
    letter-spacing: .7px;
}
.fa-copyright{
    font-size: 13px;
    color: #fff;
}
/*------------------ Popup Dropdown menu -------------------*/

.popup-menu{
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}
.container-popup-menu{
    position: relative;
    background: #fff;
    margin: 0 4vh auto auto;
    max-width: 20%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-200px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-200px; opacity:0}
    to {top:0; opacity:1}
}
.pengaturan-popup{
    height: 20vh;
}
.container-pengaturan-popup{
    display: flex;
    border-bottom: 1px solid #03A595;
    padding: 2vh;
}
.left-col-popup{
    flex-basis: 30%;
}
.left-col-popup img{
    width: 8vh;
    height: 8vh;
    margin: 2vh .5vh 2vh .5vh;
    border-radius: 50%;
}
.right-col-popup{
    flex-basis: 70%;
    text-align: center;
}
.right-col-popup p{
    color: #03A595;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2vh;
}
.btn-pengaturan-popup{
    width: 65%;
    color: #fff;
    padding: 7px 10px;
    margin: 7% 0 5% 0;
    font-weight: bold;
    font-size: 12px;
    border: 0;
    background: #03A595;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
    transition: .5s;
}
.btn-pengaturan-popup .fa{
    margin-right: 6px;
    font-size: 14px;
}
.btn-pengaturan-popup:hover{
    background: #04D6C1;
    color: #fff;
}
.container-logout{
    text-align: center;
    background: #F6FEFC;
    padding: 1.5vh;
    border-radius: 0 0 10px 10px;
}
.container-logout a{
    color: #03A595;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .5px;
    transition: .5s;
}
.container-logout a i{
    margin-right: 5px;
    transition: .5s;
}

.container-logout a:hover{
    color: #04D6C1;
}

/*------------------ Popup Dropdown notification -------------------*/

.popup-notif{
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}
.container-popup-notif{
    overflow: hidden;
    position: relative;
    background: #fff;
    margin: 0 6vh auto auto;
    max-width: 30%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(146, 223, 214, 0.9);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.content-popup-notiv{
    max-height: 60%;
}
.content-popup-notiv h1{
    padding: 2vh 4vh;
    color: #076658;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: .5px;
}
.isi-popup-notiv{
    background: #F6FEFC;
    border-top: 1px solid #03A595;
    padding: 2vh 4vh;
}
.isi-popup-notiv p{
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
    color: #484848;
}
.isi-popup-notiv h4{
    font-size: 10px;
    font-weight: bold;
    color: #A8ADAB;
    margin: 1vh 0;
}
.lihat-semua-notiv{
    background: #F6FEFC;
    border-top: 1px solid #03A595;
    padding: 2vh 4vh;
    text-align: center;
}
.lihat-semua-notiv p{
    font-size: 13px;
    color: #21B0A2;
    font-weight: bold;
    cursor: pointer;
}
